#main-container {
    display: flex;
    padding: 2em;
}

img {
    height: 350px;
    width: 350px;
    border: 1px solid rgb(164, 164, 164);
    object-fit: cover;
}

//main recipe container
.recipe-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    transition: 1s ease-in;
}

.recipe-card {
    display:flex;
    margin: 1em 5em;
    button {
        margin: 0 1em 0 0;
    } 
    ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    label {
        width: 350px;
        font-size: 1.0rem;
        margin: 0.5em 0 0.5em 0 
    }
}

//creating recipes
.create-recipe-container {
    width: 30vw
}

.create-recipe-form {
    display: flex;
    flex-direction: column;
    label {
        display: flex;
        flex-direction: column;
        width: 350px;
        margin: 0.25em 0;
        font-size: 1.1rem
    }
    img {
        margin: 0.5em 0;
    }
}

.save-recipe-button {
    margin-top: 1em;
    width: 350px;
}

